<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">مدن</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">بوسعادة</a>
          </li>
          <li>
            <a href="#!" class="text-dark">عين الملح</a>
          </li>
          <li>
            <a href="#!" class="text-dark">سيدي عامر</a>
          </li>
          <li>
            <a href="#!" class="text-dark">بن سرور</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">شراء</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">فيلا</a>
          </li>
          <li>
            <a href="#!" class="text-dark">محل</a>
          </li>
          <li>
            <a href="#!" class="text-dark">ارض</a>
          </li>
          <li>
            <a href="#!" class="text-dark">شقة</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">كراء</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">شقة</a>
          </li>
          <li>
            <a href="#!" class="text-dark">محل</a>
          </li>
          <li>
            <a href="#!" class="text-dark">ارض فلاحية</a>
          </li>
          <li>
            <a href="#!" class="text-dark">فيلا</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a class="text-dark" href="localhost:8000">Bousaada Realestate</a>
  </div>
  <!-- Copyright -->
</footer>