{% extends "base.html" %}

{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="Mycontainer">
        <div class="row my-3 d-flex justify-content-center ">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img class="rounded-circle" src="{{object.image.url|default_if_none:'#' }}" width="150px" height="150px" alt="">
                            <h2>{{object.user.first_name}}</h2>
                        </div>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body">
                        <div class="row mb-2">
                            <h3 class="text-center">Contact Information</h3>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <h6 class="mb-2">Email</h6>
                            </div>
                            <div class="col-sm-8">
                                <h6 class="mb-2 text-secondary">{{object.user.email}}</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <h6 class="mb-2">Phone number</h6>
                            </div>
                            <div class="col-sm-8">
                                <h6 class="mb-2 text-secondary">{{object.user.mobile}}</h6>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <h3 class="text-center">Personal Information</h3>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3 col-xs-3">
                                <h6 class="mb-2">First name</h6>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                <h6 class="mb-2 text-secondary">{{object.user.first_name}}</h6>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                <h6 class="mb-2 col-xs-3">Last name</h6>
                            </div>
                            <div class="col-sm-3 col-xs-3">
                                <h6 class="mb-2 text-secondary">{{object.user.last_name}}</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-2">
                            <div class="col-sm-3">
                                <h6 class="mb-2">Username</h6>
                            </div>
                            <div class="col-sm-9">
                                <h6 class="mb-2 text-secondary">{{object.username}}</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gender</h6>
                            </div>
                            <div class="col-sm-9">
                                <h6 class="mb-0 text-secondary">{{object.gender}}</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date of birth</h6>
                            </div>
                            <div class="col-sm-9">
                                <h6 class="mb-0 text-secondary">{{object.date_of_birth}}</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date joined</h6>
                            </div>
                            <div class="col-sm-9">
                                <h6 class="mb-0 text-secondary">{{object.user.date_joined|date}}</h6>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                {% if request.user == object.user %}
                <div class="text-right m-2 p-2">
                    <span class="btn btn-outline-success"><a class="nav-link" href ="{{object.get_update_url}}">Update Informations</a></span>
                </div>
                {% else %}
                <div class="text-right m-2 p-2">
                    <span class="btn btn-outline-success"><a class="nav-link" href ="{% url "homepage" %}">back to homepage</a></span>
                </div>
                {% endif %}
                    

            </div>
        </div>
    </div>        
       
        <!-- <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="image-profiel text-center">
                <img class="rounded-circle" src="{{object.image.url}}" width="120px" alt="">
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <h5>name : {{object.user}}</h5>
               
            <div class="row">
                <h5>date of birth : {{object.date_of_birth|date:'d m y'}}</h5>
            </div>
            <div class="row">
                <h5>gender : {{object.gender}}</h5>
            </div>
        </div>
    </div> -->
</div>







{% endblock content %}


