{% extends "base.html" %}

{% block content %}

<div class="container">
    
    <div class="row d-flex justify-content-center">
        <nav aria-label="breadcrumb" class="mt-3">
            <ol class="breadcrumb">
              <li class="breadcrumb-item " aria-current="page"><a href="/">Home</a></li>
              <li class="breadcrumb-item " aria-current="page"><a href="#">listings</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="#">{{city}}</a></li>
            </ol>
        </nav>
        <div class="">
            <h1 class="text-center">{{listings.count}} Available Listing{{listings.count|pluralize}} in {{city}}</h1>
        </div>
    <div class="col-md-6">
        
        
        {% for listing in listings %}
        <div class="card my-4 ">
               <div class="row py-2 ps-3">
                   <div class="realtor d-flex justify-content-start">
                       <img src="{{listing.realtor.user.profile.image.url}}" width="65px" height="65px" class="thubmnail rounded-circle" alt="">
                       <div class="col-sm">
                            <h5 class="text-dark  mx-2">{{listing.realtor}}</h5>
                            <span class="text-secondary text-muted  mx-2">{{listing.added_on|timesince}}</span>
                       </div>
                    
                    {% if request.user == listing.realtor.user %}
                        <div class="d-flex-row justify-content-end px-2">
                            <a class="btn btn-outline-success" href="{{listing.get_update_url}}">update</a>
                            <a class="btn btn-outline-danger" href="{{listing.get_delete_url}}">delete</a>
                        </div>
                    {% endif %}
                        
                   </div>
               </div>
               <hr>
               <div class="row py-1 text-center">
                   <h2 class="text-dark">
                       <a class="card-link" href="{{listing.get_absolute_url}}">{{listing.title}}</a>
                   </h2>
               </div>
            <div class="swiper-container card-img">
                    <div class="swiper-wrapper">
                        
       
                        {% for image in listing.images.all  %}
                        <div class="swiper-slide">
                        
                        <img class="img-fluid swiper-lazy" src="{{image.image.url}}" alt="">
                        <div class="swiper-lazy-preloader"></div>
                        
                        </div>
                        {% endfor %}
                    </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
           <div class="card-body">
               <div class="row">
                   {% if listing.price %}
                   <h4 class="text-seondary">
                    ${{listing.price}}
                    </h4>
                   {% endif %}
               </div>
            <div class="d-flex flex-row flex-wrap">
                <div class="mx-2 text-primary">
                    <h5><i class="fas fa-bed"></i></h5>
                </div>
                <div class="mx-2">
                    <h5>{{listing.n_bedrooms}}</h5>
                </div>
                <div class="mx-2 text-primary">
                    <h5><i class="fas fa-bath"></i></h5>
                </div>
                <div class="mx-2">
                    <h5>{{listing.n_bathrooms}}</h5>
                </div>
                <div class="mx-2 text-primary">
                    <h5><i class="fas fa-warehouse"></i></h5>
                </div>
                {% if listing.garage %}
                <div class="mx-2">
                    <h5 class="text-success"><i class="fas fa-check"></i></h5>
                </div>
                {% else %}
                <div class="mx-2">
                    <h5 class="text-danger"><i class="fas fa-times"></i></h5>
                </div>
                {% endif %}
                    
                

                <div class="mx-2 text-primary">
                    <h5>space</h5>
                </div>
                <div class="mx-2">
                    <h5>{{listing.square_meter|floatformat:"-2"}}m²</h5>
                </div>
                <hr>
                <div class="mx-2">
                    <h5 class="text-secondary">{{listing.realestate_type}}</h5>
                </div>


            </div>
            <div class="d-flex flex-row">
                
                <div class="mx-2">
                    <a href="{{listing.get_listing_byState}}" class="h5">{{listing.state}},</a>
                </div>
                
                <div class="mx-2">
                    <h5>{{listing.city}}</h5>
                </div>
                {% if listing.neiborhood %}
                
                <div class="mx-2">
                    <h5>{{listing.neiborhood}}</h5>
                </div>
                {% endif %}
                    
                
            </div>
           </div>
           
        </div>
        {% endfor %}
       
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">previous</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                
                
                {% endif %}
                
                <li class="page-item active">
                    <a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
                </li>
                
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">next</a></li>
            
            
            
                {% endif %}
              
            </ul>
          </nav>
       
    </div>
        
    
    </div>
</div>
<script>
    var myCarousel = document.querySelector('#myCarousel')
    var carousel = new bootstrap.Carousel(myCarousel)
</script>
    
  
{% endblock content %}